<div id="home_banner">

  <div id="home_banner_text">
    <h2>tetris</h2>
    <h5>Uniqueness redifined</h5>
    <h5>style remade</h5>
  </div>

</div>

<div id="featured_container">
  <h3>featured</h3>
  <h5>for more awesome products</h5>
  <%=link_to "visit the store", store_path%>

  <div id="featured_items">

      
  </div>
</div>
