
<div id="shopping_cart_holder">
  <div id="shopping_cart">
    <%= render "shopping_cart" %>
    <h4 id="order_subtotal">Sub-total <%= number_to_currency(current_order.subtotal, unit: "N") %></h4>

  </div>
</div>
