$white_text_color: #ffffff;
$alcu: Alcubierre;
$dark-brown: rgba(45, 41, 40, 0.5);
$dark-brown2: #2d2122;
$dark-brown3: rgba(45, 41, 40, 0.9);
$color: #2d2928;
$dark-grey:rgba(100,100,100,.8);

*{
  margin:0;
  box-sizing: border-box;
  font-family: $alcu;
}

body{
  background-color: #2d2928;
}



header{
  #header{
    width:100%;
    z-index: 99;
    position: fixed;
    top:0;
    left:0;
    height: 80px;
    background-color: $dark-brown;
    display: block;

    #header_logo{
      line-height: 80px;
      float: left;
      height: 80px;
      margin-left: 30px;
    }

    .nav{
      display: block;
      float: right;
      margin-right: 30px;
      letter-spacing: 5px;
      ul{
        margin-right: 20px;
        li{
            float: right;
            list-style-type: none;
            margin-left: 30px;
            line-height: 80px;
            font-family: $alcu;
            text-transform: uppercase;


            a{
              text-decoration: none;
              color:$white_text_color;
              transition: .3s;
              &:hover{
                color:$dark-brown2;
                cursor: pointer;
              }
            }
        }
      }
    }

    li.drop_down{
      color: white;
      transition: .2s;
      cursor: pointer;
      &:hover{
        color: $dark-brown;
        transition: .6s;
        .sub-menu{
          display: block;

        }
      }
      &:after{
              content: "\25BC"; /*escaped unicode for the down arrow*/
                  font-size: .5em;
                  display: inline;
                  position: relative;
                  bottom:1px;
            }

      ul.sub-menu{
        border: 1px solid $dark-brown2;
        height: 250px;
        padding: 10px 0px;
        background-color: $dark-brown3;
        font-size: 1.1em;
        position: absolute;
        display: none;
        z-index: 2;
        width: 210px;
        text-align: center;
        right: 10px;
        top:80px;

        li{
          float: none;
          margin-right: 5px;
        }
      }
    }

  }

  .cf{
    &:before,&:after{
      content: ' ';
      display: table;
    }

    &:after{
      clear:both;
    }
  }
}


#home_banner{
  background-image: url(image1.jpeg);
  width: 100%;
  height:800px;
  margin-top: 80px;
  background-position: center;
  background-repeat: no-repeat;

  #home_banner_text{
    text-transform: uppercase;
    position: relative;
    color: white;
    top: 40%;
    margin-left: 100px;
    font-size: 3em;

    h2{
      font-family: 'Bauhaus 93';
    }

    h5{
      font-family: $alcu;
    }
  }
}

#featured_container{
  margin-top: 5%;
  font-family: $alcu;
  color: $white_text_color;
  text-transform: uppercase;

    p{
      display: block;
      -webkit-margin-before:1em;
      -webkit-margin-after:1em;
      -webkit-margin-start:0em;
      -webkit-margin-end:0em;
    }
  h3{
    font-size: 3em;
  }

  h3,p{
    margin-left: 30px;
  }
  a.button{

    border: 1px solid white;
    padding: 20px 50px;
    line-height: 40px;
    text-decoration: none;
    color:$white_text_color;
    font-family: 1.2em;
    transition: .5s;

    &:hover{
      color: $dark-brown;
      background-color: white;
      cursor: pointer;
    }
  }
  #featured_items{
    margin: auto;
    width: 975px;
    height: 200px;



    .card{
      position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 300px;
  height: 300px;
  float: left;
  margin: 25px 0 50px 25px;

    &:hover{
      .front{
        .price{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          display: none;
        }
      }
    }
      .front{
        z-index: 2;
        transform: rotateY(0deg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(image2.jpg);
      }

      .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 5px solid white;
    background-color: $dark-brown;

    .links {
      margin: auto;

      a {
        text-transform: uppercase;
        display: block;
        text-align: center;
        font-size: 1.5em;
        line-height: 70px;
      }
    }
  }
      .front,.back{
        position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        box-shadow: 0px 0px 30px 0px #000;
      }

      .front,.back,.price{
        display: block;
      }

      .price{
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              width: 100%;
              height: 100%;
              background-color: transparentize($color, 0.5);
              display: none;
        p{
          display: block;
          border: 1px solid white;
          width: 150px;
          padding: 20px 40px;
        }
      }
    }
  }

        &.flip:hover {
      -webkit-transform: scale(1);
            transform: scale(1);

      .front { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
      .back { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
      }
}


footer{
  width: 100%;
  clear: both;
  background-color: $dark-brown2;
  padding:30px 30px;
  text-transform: uppercase;
  color:black;
  font-size: .9em;



  ul{
    li{
      list-style-type: none;

      a{
        margin-top: 20px;
      }
    }
  }


  #footer_links{
    float: left;
    display: block;
    letter-spacing: 5px;
  }

  #social_media{
    float:right;
    margin-top: 30px;
    display: block;

    a{
      margin-left: 30px;
    }
  }

  #naude{
    text-align: center;
    clear: both;
    margin-top: 150px;
    color: white;
  }

  a{
    float: left;
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}

#login_form{
  width: 800px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 100px;
  padding: 30px 50px;
  align-items: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: $alcu;
  input[type="email"], input[type="password"]{
    margin-top: 20px;
    width: 80%;
    height: 40px;
    font-size: 1em;
    padding: 20px 10px;

  }
  input[type="checkbox"], input[type="submit"]{
    margin-top: 15px;
  }
  input[type="submit"]{
    border: 1px solid white;
    background-color: $dark-brown;
    text-transform: uppercase;
    color: white;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s;
    &:hover{
      background-color: white;
      color: $dark-brown;
      cursor: pointer;
    }
  }
  h2{
    text-align: center;
  }

  .actions{
    a{
      border: 1px solid white;
      background-color: $dark-brown;
      text-transform: uppercase;
      color: white;
      padding: 20px 60px;
      font-size: 1em;
      transition: .5s;
      text-decoration: none;
      &:hover{
        background-color: white;
        color: $dark-brown;
        cursor: pointer;
      }
    }
    p{
      margin: 20px 0px;
    }
  }
}


#sign_up{
  width: 100%;
  height: 100%;
  background-image: url(image1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#signup_form{
  font-family: $alcu;

  width: 800px;
  margin: auto;
  margin-bottom: 100px;
  padding: 30px 50px;
  align-items: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding:200px 0px;


  input[type="email"], input[type="password"], input[type="text"]{
    margin-top: 20px;
    width: 80%;
    height: 40px;
    font-size: 1em;
    padding: 20px 10px;
    background-color: $dark-brown;
    outline: none;
    box-shadow: none;
    border: 1px solid $dark-brown;
    color: inherit;
  }
  input[type="checkbox"], input[type="submit"]{
    margin-top: 15px;
  }
  input[type="submit"]{
    border: 1px solid white;
    background-color: $dark-brown;
    text-transform: uppercase;
    color: white;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s;

    &:hover{
      background-color: white;
      color: $dark-brown;
      cursor: pointer;
    }
  }
  h2{
    text-align: center;
  }

  .actions{
    a{
      border: 1px solid white;
      background-color: $dark-brown;
      text-transform: uppercase;
      color: white;
      padding: 20px 60px;
      font-size: 1em;
      transition: .5s;
      text-decoration: none;
      &:hover{
        background-color: white;
        color: $dark-brown;
        cursor: pointer;
      }
    }
    p{
      margin: 20px 0px;
    }
  }
}

#product_holder{
  width:100%;
  height: 600px;
  clear: both;
  padding: 100px 0px;

  .product{
      width: 300px;
      height: 300px;
      float: left;
      margin: 30px 0 0 130px;
      margin-bottom: 30px;
      text-align: center;
      background-color: white;
  }
}

#new_product_form{

  clear: both;
  height: 400px;
  width: 975px;
  margin: auto;
  margin-top: 200px;
  padding-left: 200px;
  ul{
    li{
      list-style-type: none;
      input{
        font-size: 20px;
        width: 500px;
      }

      input[type='text'],input[type='number']{
        margin-top: 20px;
        height: 50px;
        padding: 10px 10px;
      }

      input[type="submit"]{
        padding: 60px 0px;
      }
    }
  }
}

#shopping_cart_holder{
  width: 100%;
  padding: 200px 0px;
  text-align: center;

  #shopping_cart{
    width:40%;
    display: block;
    position: relative;
    left: 200px;
    background-color: white;

    #order_item_holder{
      width: 100%;
      height: 200px;
      display: block;
      border: 1px solid grey;
      padding: 30px 0px;
    }
  }
}
