* {
  margin: 0;
  box-sizing: border-box;
  font-family: Alcubierre; }

body {
  background-color: #2d2928; }

header #header {
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: rgba(45, 41, 40, 0.5);
  display: block; }
  header #header #header_logo {
    line-height: 80px;
    float: left;
    height: 80px;
    margin-left: 30px; }
  header #header .nav {
    display: block;
    float: right;
    margin-right: 30px;
    letter-spacing: 5px; }
    header #header .nav ul {
      margin-right: 20px; }
      header #header .nav ul li {
        float: right;
        list-style-type: none;
        margin-left: 30px;
        line-height: 80px;
        font-family: Alcubierre;
        text-transform: uppercase; }
        header #header .nav ul li a {
          text-decoration: none;
          color: #ffffff;
          transition: .3s; }
          header #header .nav ul li a:hover {
            color: #2d2122;
            cursor: pointer; }
  header #header li.drop_down {
    color: white;
    transition: .2s;
    cursor: pointer; }
    header #header li.drop_down:hover {
      color: rgba(45, 41, 40, 0.5);
      transition: .6s; }
      header #header li.drop_down:hover .sub-menu {
        display: block; }
    header #header li.drop_down:after {
      content: "\25BC";
      /*escaped unicode for the down arrow*/
      font-size: .5em;
      display: inline;
      position: relative;
      bottom: 1px; }
    header #header li.drop_down ul.sub-menu {
      border: 1px solid #2d2122;
      height: 250px;
      padding: 10px 0px;
      background-color: rgba(45, 41, 40, 0.9);
      font-size: 1.1em;
      position: absolute;
      display: none;
      z-index: 2;
      width: 210px;
      text-align: center;
      right: 10px;
      top: 80px; }
      header #header li.drop_down ul.sub-menu li {
        float: none;
        margin-right: 5px; }
header .cf:before, header .cf:after {
  content: ' ';
  display: table; }
header .cf:after {
  clear: both; }

#home_banner {
  background-image: url(image1.jpeg);
  width: 100%;
  height: 800px;
  margin-top: 80px;
  background-position: center;
  background-repeat: no-repeat; }
  #home_banner #home_banner_text {
    text-transform: uppercase;
    position: relative;
    color: white;
    top: 40%;
    margin-left: 100px;
    font-size: 3em; }
    #home_banner #home_banner_text h2 {
      font-family: 'Bauhaus 93'; }
    #home_banner #home_banner_text h5 {
      font-family: Alcubierre; }

#featured_container {
  margin-top: 5%;
  font-family: Alcubierre;
  color: #ffffff;
  text-transform: uppercase; }
  #featured_container p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em; }
  #featured_container h3 {
    font-size: 3em; }
  #featured_container h3, #featured_container p {
    margin-left: 30px; }
  #featured_container a.button {
    border: 1px solid white;
    padding: 20px 50px;
    line-height: 40px;
    text-decoration: none;
    color: #ffffff;
    font-family: 1.2em;
    transition: .5s; }
    #featured_container a.button:hover {
      color: rgba(45, 41, 40, 0.5);
      background-color: white;
      cursor: pointer; }
  #featured_container #featured_items {
    margin: auto;
    width: 975px;
    height: 200px; }
    #featured_container #featured_items .card {
      position: relative;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      width: 300px;
      height: 300px;
      float: left;
      margin: 25px 0 50px 25px; }
      #featured_container #featured_items .card:hover .front .price {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: none; }
      #featured_container #featured_items .card .front {
        z-index: 2;
        transform: rotateY(0deg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(image2.jpg); }
      #featured_container #featured_items .card .back {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border: 5px solid white;
        background-color: rgba(45, 41, 40, 0.5); }
        #featured_container #featured_items .card .back .links {
          margin: auto; }
          #featured_container #featured_items .card .back .links a {
            text-transform: uppercase;
            display: block;
            text-align: center;
            font-size: 1.5em;
            line-height: 70px; }
      #featured_container #featured_items .card .front, #featured_container #featured_items .card .back {
        position: absolute;
        height: 100%;
        width: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        box-shadow: 0px 0px 30px 0px #000; }
      #featured_container #featured_items .card .front, #featured_container #featured_items .card .back, #featured_container #featured_items .card .price {
        display: block; }
      #featured_container #featured_items .card .price {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(45, 41, 40, 0.5);
        display: none; }
        #featured_container #featured_items .card .price p {
          display: block;
          border: 1px solid white;
          width: 150px;
          padding: 20px 40px; }
  #featured_container.flip:hover {
    -webkit-transform: scale(1);
    transform: scale(1); }
    #featured_container.flip:hover .front {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    #featured_container.flip:hover .back {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg); }

footer {
  width: 100%;
  clear: both;
  background-color: #2d2122;
  padding: 30px 30px;
  text-transform: uppercase;
  color: black;
  font-size: .9em; }
  footer ul li {
    list-style-type: none; }
    footer ul li a {
      margin-top: 20px; }
  footer #footer_links {
    float: left;
    display: block;
    letter-spacing: 5px; }
  footer #social_media {
    float: right;
    margin-top: 30px;
    display: block; }
    footer #social_media a {
      margin-left: 30px; }
  footer #naude {
    text-align: center;
    clear: both;
    margin-top: 150px;
    color: white; }
  footer a {
    float: left;
    text-decoration: none;
    color: white;
    cursor: pointer; }

#login_form {
  width: 800px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 100px;
  padding: 30px 50px;
  align-items: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: Alcubierre; }
  #login_form input[type="email"], #login_form input[type="password"] {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    font-size: 1em;
    padding: 20px 10px; }
  #login_form input[type="checkbox"], #login_form input[type="submit"] {
    margin-top: 15px; }
  #login_form input[type="submit"] {
    border: 1px solid white;
    background-color: rgba(45, 41, 40, 0.5);
    text-transform: uppercase;
    color: white;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s; }
    #login_form input[type="submit"]:hover {
      background-color: white;
      color: rgba(45, 41, 40, 0.5);
      cursor: pointer; }
  #login_form h2 {
    text-align: center; }
  #login_form .actions a {
    border: 1px solid white;
    background-color: rgba(45, 41, 40, 0.5);
    text-transform: uppercase;
    color: white;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s;
    text-decoration: none; }
    #login_form .actions a:hover {
      background-color: white;
      color: rgba(45, 41, 40, 0.5);
      cursor: pointer; }
  #login_form .actions p {
    margin: 20px 0px; }

#sign_up {
  width: 100%;
  height: 100%;
  background-image: url(image1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#signup_form {
  font-family: Alcubierre;
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
  padding: 30px 50px;
  align-items: center;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding: 200px 0px; }
  #signup_form input[type="email"], #signup_form input[type="password"], #signup_form input[type="text"] {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    font-size: 1em;
    padding: 20px 10px;
    background-color: rgba(45, 41, 40, 0.5);
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(45, 41, 40, 0.5);
    color: inherit; }
  #signup_form input[type="checkbox"], #signup_form input[type="submit"] {
    margin-top: 15px; }
  #signup_form input[type="submit"] {
    border: 1px solid white;
    background-color: rgba(45, 41, 40, 0.5);
    text-transform: uppercase;
    color: white;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s; }
    #signup_form input[type="submit"]:hover {
      background-color: white;
      color: rgba(45, 41, 40, 0.5);
      cursor: pointer; }
  #signup_form h2 {
    text-align: center; }
  #signup_form .actions a {
    border: 1px solid white;
    background-color: rgba(45, 41, 40, 0.5);
    text-transform: uppercase;
    color: white;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s;
    text-decoration: none; }
    #signup_form .actions a:hover {
      background-color: white;
      color: rgba(45, 41, 40, 0.5);
      cursor: pointer; }
  #signup_form .actions p {
    margin: 20px 0px; }

#product_holder {
  width: 100%;
  height: 600px;
  clear: both;
  padding: 100px 0px; }
  #product_holder .product {
    width: 300px;
    height: 300px;
    float: left;
    margin: 30px 0 0 130px;
    margin-bottom: 30px;
    text-align: center;
    background-color: white; }

#new_product_form {
  clear: both;
  height: 400px;
  width: 975px;
  margin: auto;
  margin-top: 200px;
  padding-left: 200px; }
  #new_product_form ul li {
    list-style-type: none; }
    #new_product_form ul li input {
      font-size: 20px;
      width: 500px; }
    #new_product_form ul li input[type='text'], #new_product_form ul li input[type='number'] {
      margin-top: 20px;
      height: 50px;
      padding: 10px 10px; }
    #new_product_form ul li input[type="submit"] {
      padding: 60px 0px; }

#shopping_cart_holder {
  width: 100%;
  padding: 200px 0px;
  text-align: center; }
  #shopping_cart_holder #shopping_cart {
    width: 40%;
    display: block;
    position: relative;
    left: 200px;
    background-color: white; }
    #shopping_cart_holder #shopping_cart #order_item_holder {
      width: 100%;
      height: 200px;
      display: block;
      border: 1px solid grey;
      padding: 30px 0px; }

/*# sourceMappingURL=custom.css.map */
