@import "variables.scss";





 *{
   margin:0;
   box-sizing: border-box;
   font-family: $alcu;
   transition: 0.5s;
 }

 body{

 }



 header{
   #header{
     width:100%;
     z-index: 99;
     position: fixed;
     top:0;
     left:0;
     height: 80px;
     background-color: transparentize($dark-brown2, 0.1);
     display: block;

     #header_logo{
       float: left;
       width: 230px;
       height: 200px;
       margin: -60px 0px 0px -10px;
      //  background-color: black;
      //  display: block;
     }

     .nav{
       display: block;
       float: right;
       margin-right: 0px;
       letter-spacing: 5px;
       ul{
         margin-right: 20px;
         li{
             float: right;
             list-style-type: none;
             margin-left: 20px;
             line-height: 80px;
             font-family: $alcu;
             text-transform: uppercase;


             a{
               text-decoration: none;
               color:$white_text_color;
               transition: .3s;
               &:hover{
                 color:$dark-brown2;
                 cursor: pointer;
               }
             }
         }
       }
     }

     li.drop_down{
       color: white;
       transition: .3s;
       cursor: pointer;
       &:hover{
         color: $dark-brown;
         transition: .6s;
         .sub-menu{
           display: block;

         }
       }
       &:after{
               content: "\25BC"; /*escaped unicode for the down arrow*/
                   font-size: .5em;
                   display: inline;
                   position: relative;
                   bottom:1px;
             }
             #admin_sub{
               width: 200px;
             }

       ul.sub-menu{
         border: 1px solid $dark-brown2;
         height: 250px;
         padding: 10px 10px;
         background-color: $dark-brown3;
         font-size: 1.1em;
         position: absolute;
         display: none;
         z-index: 2;
         width: 350px;
         text-align: center;
         right: 10px;
         top:80px;

         li{
           float: none;
           margin-right: 5px;
         }
       }
     }

   }

   .cf{
     &:before,&:after{
       content: ' ';
       display: table;
     }

     &:after{
       clear:both;
     }
   }


 }



 //footer

 footer{
   width: 100%;
   clear: both;
   background-color: $dark-brown2;
   padding:30px 30px;
   text-transform: uppercase;
   color:black;
   font-size: .9em;




   ul{
     li{
       list-style-type: none;

       a{
         margin-top: 20px;
       }
     }
   }


   #footer_links{
     float: left;
     display: block;
     letter-spacing: 5px;

   }

   #social_media{
     float:right;
     margin-top: 0px;
     display: block;

   }

   #naude{
     text-align: center;
     clear: both;
     margin-top: 150px;
     color: white;
   }

   a{
     float: left;
     text-decoration: none;
     color: white;
     cursor: pointer;

     img{
       width: 80px;
       margin-right: 100px;
     }
   }
 }

//card
.card{
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width:100%;
  height: 100%;

  &:hover{
    .front{
      .price{
        display: none;
      }
    }
  }

  &:hover{
    .front_signed_in{
      .price{
        display: none;
      }
    }
  }
  
  &.flip {
    -webkit-transform: scale(1);
    transform: scale(1);
    .front { -webkit-transform: rotateY(180deg); transform: rotateY(180deg); }
    .back { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); }
  }

  .front{
    z-index: 2;
    transform: rotateY(0deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .6s;
    text-align: center;
  }

  .front_signed_in{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    width: 100%;
    box-shadow: $box-shadow;


  }

  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 5px solid white;
    background-color: $dark-brown;

    .links {
        margin: auto;
          a {
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-size: 1.2em;
            line-height: 70px;
            color: white;
            display: block;
            box-sizing: border-box;

      }

    }
  }

  .front,.back{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: $box-shadow;
  }


  .price{

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 40% 0px;
    background-color: transparentize($color, 0.3);
  }
}

.pagination {
  text-align: center;
  margin-bottom: 0px;
  clear: both;
  .previous_page { background:$dark-brown2; color:white; text-decoration: none; padding: 10px;}
  .previous_page.disabled { background: white; color: $dark-brown2; }
  .current { background: $dark-brown2; border: 1px solid $dark-brown2; color: white; font-size: 1em;padding: 5px;}
  .next_page { background: $dark-brown2; color: white; text-decoration: none; padding: 10px;}
  .next_page.disabled { background: white; color: #777; }
}

.empty_page{
  text-align: center;
  padding: 200px 0px;
  font-size: 0.7em;
}

#search_bar{

  margin-top: 20px;
  width: 500px;
  input[type="text"]{
    font-size: 1em;
    padding: 10px 250px 10px 10px;
    background-color: transparentize(white,0.8);
    color: white;
    border: none;
    border-radius: 100px;
    float: left;
    transition: .5s;

    &:focus{
      outline-color: $dark-brown2;
      border-radius: 0px;

      #search_icon{
        border-radius: 0px;
      }
    }
  }



  p{
    display: block;
  }

  #search_icon{
    background-color: $dark-brown2;
    border-radius: 100px;
    width: 70px;
    height: 40px;
    display: block;
    box-shadow: $box-shadow;
    transition: .3s;

    &:hover{
      background-color: transparentize($dark-brown2,.2);
    }
  }
}
