* {
  margin: 0;
  box-sizing: border-box;
  font-family: Alcubierre;
  transition: 0.5s; }

header #header {
  width: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: rgba(45, 41, 40, 0.5);
  display: block; }
  header #header #header_logo {
    line-height: 80px;
    float: left;
    height: 80px;
    margin-left: 30px; }
  header #header .nav {
    display: block;
    float: right;
    margin-right: 30px;
    letter-spacing: 5px; }
    header #header .nav ul {
      margin-right: 20px; }
      header #header .nav ul li {
        float: right;
        list-style-type: none;
        margin-left: 30px;
        line-height: 80px;
        font-family: Alcubierre;
        text-transform: uppercase; }
        header #header .nav ul li a {
          text-decoration: none;
          color: #ffffff;
          transition: .3s; }
          header #header .nav ul li a:hover {
            color: #2d2122;
            cursor: pointer; }
  header #header li.drop_down {
    color: white;
    transition: .3s;
    cursor: pointer; }
    header #header li.drop_down:hover {
      color: rgba(45, 41, 40, 0.5);
      transition: .6s; }
      header #header li.drop_down:hover .sub-menu {
        display: block; }
    header #header li.drop_down:after {
      content: "\25BC";
      /*escaped unicode for the down arrow*/
      font-size: .5em;
      display: inline;
      position: relative;
      bottom: 1px; }
    header #header li.drop_down ul.sub-menu {
      border: 1px solid #2d2122;
      height: 250px;
      padding: 10px 10px;
      background-color: rgba(45, 41, 40, 0.9);
      font-size: 1.1em;
      position: absolute;
      display: none;
      z-index: 2;
      width: 350px;
      text-align: center;
      right: 10px;
      top: 80px; }
      header #header li.drop_down ul.sub-menu li {
        float: none;
        margin-right: 5px; }
header .cf:before, header .cf:after {
  content: ' ';
  display: table; }
header .cf:after {
  clear: both; }

footer {
  width: 100%;
  clear: both;
  background-color: #2d2122;
  padding: 30px 30px;
  text-transform: uppercase;
  color: black;
  font-size: .9em; }
  footer ul li {
    list-style-type: none; }
    footer ul li a {
      margin-top: 20px; }
  footer #footer_links {
    float: left;
    display: block;
    letter-spacing: 5px; }
  footer #social_media {
    float: right;
    margin-top: 0px;
    display: block; }
  footer #naude {
    text-align: center;
    clear: both;
    margin-top: 150px;
    color: white; }
  footer a {
    float: left;
    text-decoration: none;
    color: white;
    cursor: pointer; }
    footer a img {
      width: 80px;
      margin-right: 100px; }

.card {
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%; }
  .card:hover .front .price {
    display: none; }
  .card.flip {
    -webkit-transform: scale(1);
    transform: scale(1); }
    .card.flip .front {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
    .card.flip .back {
      -webkit-transform: rotateY(360deg);
      transform: rotateY(360deg); }
  .card .front {
    z-index: 2;
    transform: rotateY(0deg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .6s; }
  .card .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 5px solid white;
    background-color: rgba(45, 41, 40, 0.5); }
    .card .back .links {
      margin: auto; }
      .card .back .links a {
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 1.5em;
        line-height: 70px;
        color: white;
        display: block;
        box-sizing: border-box; }
  .card .front, .card .back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0px 0px 30px 0px #000; }
  .card .price {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 40% 0px;
    background-color: rgba(45, 41, 40, 0.7); }

/*# sourceMappingURL=custom.css.map */
