#home_banner {
  background-image: url(image1.jpeg);
  width: 100%;
  height: 800px;
  margin-top: 80px;
  background-position: center;
  background-repeat: no-repeat; }
  #home_banner #home_banner_text {
    text-transform: uppercase;
    position: relative;
    color: white;
    top: 40%;
    margin-left: 100px;
    font-size: 3em; }
    #home_banner #home_banner_text h2 {
      font-family: 'Bauhaus 93'; }
    #home_banner #home_banner_text h5 {
      font-family: Alcubierre; }

#featured_container {
  margin-top: 5%;
  font-family: Alcubierre;
  color: #2d2122;
  text-transform: uppercase; }
  #featured_container p {
    font-size: 1.4em;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em; }
  #featured_container h3 {
    font-size: 4em; }
  #featured_container h3, #featured_container p {
    margin-left: 30px; }
  #featured_container a.button {
    border: 1px solid white;
    padding: 20px 50px;
    line-height: 40px;
    text-decoration: none;
    color: #2d2122;
    font-size: 1.3em;
    transition: .5s;
    border: 1px solid #2d2122; }
    #featured_container a.button:hover {
      color: #ffffff;
      background-color: #2d2122;
      border: 1px solid white;
      cursor: pointer; }
  #featured_container #featured_items {
    margin: auto;
    width: 975px;
    height: 200px; }

#login_form {
  width: 800px;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 100px;
  padding: 30px 50px;
  align-items: center;
  text-align: center;
  color: #2d2122;
  text-transform: uppercase;
  font-family: Alcubierre; }
  #login_form input[type="email"], #login_form input[type="password"] {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    font-size: 1em;
    padding: 20px 10px; }
  #login_form input[type="checkbox"], #login_form input[type="submit"] {
    margin-top: 15px; }
  #login_form input[type="submit"] {
    border: 1px solid white;
    background-color: white;
    text-transform: uppercase;
    color: #2d2122;
    border: 1px solid #2d2122;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s;
    width: 80%; }
    #login_form input[type="submit"]:hover {
      background-color: #2d2122;
      color: white;
      cursor: pointer; }
  #login_form h2 {
    text-align: center; }
  #login_form .actions a {
    border: 1px solid #2d2122;
    background-color: white;
    text-transform: uppercase;
    color: #2d2122;
    padding: 20px 253px;
    font-size: 1em;
    transition: .5s;
    text-decoration: none; }
    #login_form .actions a:hover {
      background-color: #2d2122;
      color: white;
      cursor: pointer; }
  #login_form .actions p {
    margin: 20px 0px; }

#sign_up {
  width: 100%;
  height: 100%; }

#signup_form {
  font-family: Alcubierre;
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
  padding: 30px 50px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 200px 0px; }
  #signup_form input[type="email"], #signup_form input[type="password"], #signup_form input[type="text"] {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    font-size: 1em;
    padding: 20px 10px;
    border: 1px solid rgba(45, 41, 40, 0.5);
    outline: none; }
  #signup_form input[type="checkbox"], #signup_form input[type="submit"] {
    margin-top: 15px; }
  #signup_form input[type="submit"] {
    border: 1px solid #2d2122;
    background-color: white;
    text-transform: uppercase;
    color: #2d2122;
    padding: 20px 60px;
    width: 80%;
    font-size: 1em;
    transition: .5s; }
    #signup_form input[type="submit"]:hover {
      background-color: #2d2122;
      color: white;
      cursor: pointer; }
  #signup_form h2 {
    text-align: center; }
  #signup_form .actions a {
    border: 1px solid white;
    background-color: white;
    text-transform: uppercase;
    color: #2d2122;
    border: 1px solid #2d2122;
    padding: 20px 298px;
    font-size: 1em;
    transition: .5s;
    text-decoration: none; }
    #signup_form .actions a:hover {
      background-color: #2d2122;
      color: white;
      cursor: pointer; }
  #signup_form .actions p {
    margin: 40px 0px;
    color: #2d2122; }

#account_holder {
  width: 100%;
  height: 400px;
  margin-bottom: 200px; }

#dashboard_holder {
  width: 100%;
  height: 400px;
  margin-bottom: 400px; }

/*# sourceMappingURL=static_pages.css.map */
