#home_banner {
  background-image: url(image1.jpeg);
  width: 100%;
  height: 800px;
  margin-top: 80px;
  background-position: center;
  background-repeat: no-repeat; }
  #home_banner #home_banner_text {
    text-transform: uppercase;
    position: relative;
    color: white;
    top: 40%;
    margin-left: 100px;
    font-size: 3em; }
    #home_banner #home_banner_text h2 {
      font-family: 'Bauhaus 93'; }
    #home_banner #home_banner_text h5 {
      font-family: Alcubierre; }

#featured_container {
  margin-top: 50px; }
  #featured_container h3 {
    text-transform: capitalize;
    font-size: 3em;
    margin: 10px 0 0 150px; }
  #featured_container p {
    margin: 10px 0 0 150px;
    font-size: 1.4em; }
    #featured_container p a {
      border: 1px solid #2d2122;
      padding: 10px 20px;
      text-decoration: none;
      color: inherit;
      transition: .4s; }
      #featured_container p a:hover {
        background-color: #2d2122;
        color: white;
        cursor: pointer; }
  #featured_container #product_holder {
    width: 100%;
    clear: both;
    padding: 100px 20px; }
    #featured_container #product_holder .product {
      width: 300px;
      height: 300px;
      font-size: 1.7em; }
      #featured_container #product_holder .product p#store_product_name {
        display: none; }
      #featured_container #product_holder .product h4 {
        color: #2d2122; }
      #featured_container #product_holder .product #store_image {
        width: 200px;
        height: 250px; }

.form_page {
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
  padding: 0px 50px;
  align-items: center;
  text-align: center;
  color: #2d2122;
  text-transform: uppercase;
  font-family: Alcubierre; }
  .form_page input[type="email"], .form_page input[type="password"], .form_page input[type="text"] {
    margin-top: 20px;
    width: 80%;
    height: 40px;
    font-size: 1em;
    padding: 20px 10px; }
  .form_page input[type="checkbox"], .form_page input[type="submit"] {
    margin-top: 15px; }
  .form_page input[type="submit"] {
    border: 1px solid white;
    background-color: white;
    text-transform: uppercase;
    color: #2d2122;
    border: 1px solid #2d2122;
    padding: 20px 60px;
    font-size: 1em;
    transition: .5s;
    width: 80%; }
    .form_page input[type="submit"]:hover {
      background-color: #2d2122;
      color: white;
      cursor: pointer; }
  .form_page h2 {
    text-align: center; }
  .form_page .actions a {
    border: 1px solid #2d2122;
    background-color: white;
    text-transform: uppercase;
    color: #2d2122;
    padding: 20px 253px;
    font-size: 1em;
    transition: .5s;
    text-decoration: none; }
    .form_page .actions a:hover {
      background-color: #2d2122;
      color: white;
      cursor: pointer; }
  .form_page .actions p {
    margin: 20px 0px; }

#sign_up {
  width: 100%;
  height: 100%; }

#about_page_holder {
  margin: 200px 0px;
  padding: 0px 300px;
  width: 100%; }
  #about_page_holder .about {
    width: 800px;
    margin-bottom: 150px;
    display: block;
    float: left; }
    #about_page_holder .about p {
      width: 300px;
      float: left;
      clear: both;
      display: block;
      font-size: 1.3em; }
    #about_page_holder .about h1 {
      display: block;
      float: left;
      clear: both;
      margin-bottom: 50px; }
    #about_page_holder .about img {
      width: 200px;
      height: 200px;
      display: block;
      float: right; }
  #about_page_holder #right {
    display: block; }
    #about_page_holder #right img {
      float: left; }
    #about_page_holder #right h1 {
      display: block;
      float: right;
      clear: both; }
    #about_page_holder #right p {
      width: 300px;
      float: right;
      display: block;
      clear: both; }
  #about_page_holder h1 {
    text-align: center; }

#account_holder {
  width: 100%;
  height: 400px;
  margin-bottom: 200px; }

#dashboard_holder {
  width: 100%;
  height: 400px;
  margin-bottom: 400px; }

/*# sourceMappingURL=static_pages.css.map */
