$white_text_color: #ffffff;
$alcu: Alcubierre;
$dark-brown: rgba(45, 41, 40, 0.5);
$dark-brown2: #2d2122;
$dark-brown3: rgba(45, 41, 40, 0.9);
$color: #2d2928;
$dark-grey:rgba(100,100,100,.8);
$box-shadow: 0px 0px 30px 0px #000;
