<div id="search_bar" class="nav cf">
  <%=form_tag store_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search],placeholder: "Shorts,t-shirts,shoes. . ." %>
    </p>
    <p><%=link_to(image_tag("search",alt:"Search", id: "search_icon"), store_path,:method => 'get')%></p>
  <% end %>
</div>
