<footer class="cf">



  <div id="footer_links">
    <ul>
      <li><%= link_to( 'Store',  store_path)%></li>
      <li><%= link_to( 'about us', about_path)%></li>
      <li><%= link_to( 'need help?', customercare_path)%></li>
    </ul>
  </div>

  <div id="social_media">
    <%= link_to( image_tag("instagram.svg", alt: 'instagram'), '#')%>
  </div>

  <div id="naude">
    <p>designed by naude</p>
  </div>


</footer>
